<%- include partials/header %>
<ul style="list-style:none">
  <li><h3><a href="http://www.zhangzirui.com">我的主页</a></h3>ZZR-china</li>
  <li><h3><a href="http://www.npm.coding.io">NPM团队</a></h3>Our page</li>
</ul>
<%- include partials/footer %>